{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/idc/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建机柜
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                机柜列表
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>数据中心名称</th>
                    <th>机柜编号</th>
                    <th>机柜功率</th>
                    <th>机柜电流</th>
                    <th>月租金</th>
                    <th>机柜状态</th>
                    <th>开通时间</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.idc_name }}</td>
                        <td>{{ obj.rack_no }}</td>
                        <td>{{ obj.rack_power }}</td>
                        <td>{{ obj.rack_current }}</td>
                        <td>{{ obj.monthly_rental }}</td>
                        <td>{{ obj.rack_status }}</td>
                        <td>{{ obj.online_date }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/idc/{{ obj.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/idc/{{ obj.id }}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}