{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>RRSWL CMDB, Hello, world!</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">服务器</h3>
            </div>
            <div class="panel-body">
                <p>服务器共 0 台，私有云 0 台， 公有云 0 台</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">虚拟机 0 台</li>
                <li class="list-group-item">宿主机 0 台</li>
                <li class="list-group-item">物理机 0 台</li>
                <li class="list-group-item">云主机 0 台</li>
            </ul>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">服务器</h3>
            </div>
            <div class="panel-body">
                <p>私有云数据库共 0 台，公有云数据库 0 台</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">MySQL 0 台</li>
                <li class="list-group-item">MyCAT 0 台</li>
                <li class="list-group-item">Oracle 0 台</li>
                <li class="list-group-item">云数据库 0 台</li>
            </ul>
        </div>
    </div>
{% endblock %}