{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        <h4 style="font-family:inline-block;font-weight: 700" >将临时单号贴在输入框中，一个单号一行，格式错误导入会失败，如果失败重新粘贴导入即可</h4>
        <textarea name="temp_data" class="form-control" cols="100" rows="10"></textarea>
        <hr class="my-4">
        <h4 class="mb-3">数据库名</h4>
        <div class="my-3">
            <div class="form-check">
              <input id="app_oracle" name="dbname_choice" value="app_oracle" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="credit">APP_Oracle</label>
            </div>
            <div class="form-check">
              <input id="wms_oracle" name="dbname_choice" value="wms_oracle" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="credit">WMS_Oracle</label>
            </div>
            <div class="form-check">
              <input id="tms_oracle" name="dbname_choice" value="tms_oracle" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="debit">TMS_Oracle</label>
            </div>
            <div class="form-check">
              <input id="oms_oracle" name="dbname_choice" value="oms_oracle" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="debit">OMS_Oracle</label>
            </div>
            <div class="form-check">
              <input id="sqm_mysql" name="dbname_choice" value="sqm_mysql" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="debit">SQM_OB</label>
            </div>
            <div class="form-check">
              <input id="cdk_oracle" name="dbname_choice" value="cdk_oracle" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="debit">CDK_Oracle</label>
            </div>
            <div class="form-check">
              <input id="wldtm_oracle" name="dbname_choice" value="wldtm_oracle" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="debit">WLDTM_Oracle</label>
            </div>
            <div class="form-check">
              <input id="cdk_mysql" name="dbname_choice" value="cdk_mysql" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="debit">CDK_MySQL</label>
            </div>
            <div class="form-check">
              <input id="bmsldg_mysql" name="dbname_choice" value="bmsldg_mysql" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="debit">BMS_LDG_MySQL</label>
            </div>
            <div class="form-check">
              <input id="bmsbas_mysql" name="dbname_choice" value="bmsbas_mysql" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="debit">BMS_BAS_MySQL</label>
            </div>
          </div>
        <button type="submit" class="btn btn-primary">导 入</button>
    </form>
    {{ exp_message }}
</div>

{% endblock %}