{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        <h4 style="font-family:inline-block;font-weight: 700" >请输入文件名，FLWID</h4>
        <input name="filename" class="form-control" cols="30" rows="10">
        <br/>
        <h4 style="font-family:inline-block;font-weight: 700" >请选择要导出的数据库地址</h4>
        <select name="expdata_db" class="form-control" cols="30" rows="10">
            <option value="polardb_cdkread_exp">polardb_cdkread_exp</option>
            <option value="mysql_kx_exp">mysql_kx_exp</option>
            <option value="oracle_vom2_exp">oracle_vom2_exp</option>
            <option value="oracle_tms_exp">oracle_tms_exp</option>
            <option value="oracle_app_exp">oracle_app_exp</option>
            <option value="oracle_cdk_exp">oracle_cdk_exp</option>
            <option value="oracle_iwmsa_exp">oracle_iwmsa_exp</option>
            <option value="oracle_iwmspf_exp">oracle_iwmspf_exp</option>
            <option value="oracle_i1wms_exp">oracle_i1wms_exp</option>
            <option value="oracle_i2wms_exp">oracle_i2wms_exp</option>
            <option value="oracle_i3wms_exp">oracle_i3wms_exp</option>
            <option value="oracle_i4wms_exp">oracle_i4wms_exp</option>
            <option value="oracle_wldtm_exp">oracle_wldtm_exp</option>
            <option value="oracle_wms7001_exp">oracle_wms7001_exp</option>
            <option value="gps_exp">gps_exp</option>
            <option value="oracle_bms_exp">oracle_bms_exp</option>
            <option value="oracle_eam_exp">oracle_eam_exp</option>
            <option value="oracle_cdkbi_exp">oracle_cdkbi_exp</option>
            <option value="oracle_arch_tms_arch_exp">oracle_arch_tms_arch_exp</option>
            <option value="oracle_tms_rac_exp">oracle_tms_rac_exp</option>
            <option value="oracle_itms_rac_exp">oracle_itms_rac_exp</option>
            <option value="saples_exp">saples_exp</option>
            <option value="mysql_cdk_auch_srp_exp">mysql_cdk_auch_srp_exp</option>
            <option value="mysql_cdk_auch_exp">mysql_cdk_auch_exp</option>
            <option value="mysql_cdk_nsp_exp">mysql_cdk_nsp_exp</option>
            <option value="mycat_oms_ods_exp">mycat_oms_ods_exp</option>
            <option value="mycat_oms_otm_exp">mycat_oms_otm_exp</option>
            <option value="mysql_oms_cus_st_exp">mysql_oms_cus_st_exp</option>
            <option value="mysql_oms_gtd_st_exp">mysql_oms_gtd_st_exp</option>
            <option value="mysql_oms_iop_st_exp">mysql_oms_iop_st_exp</option>
            <option value="mysql_oms_iop_st_exp">mysql_oms_iop_st_exp</option>
            <option value="newoms_appoint2_8068_exp">newoms_appoint2_8068_exp</option>
            <option value="newoms_appoint_8068_exp">newoms_appoint_8068_exp</option>
            <option value="kxbms_exp">kxbms_exp</option>
            <option value="imfs_exp">imfs_exp</option>
            <option value="mysql_rmdb5722_monitor_exp">mysql_rmdb5722_monitor_exp</option>
            <option value="tms_ddzx_aliyun_exp">tms_ddzx_aliyun_exp</option>
            <option value="mycat_bms8066_ldgdb_exp">mycat_bms8066_ldgdb_exp</option>
            <option value="mycat_bms8066_basdb_exp">mycat_bms8066_basdb_exp</option>
            <option value="mycat_bms8066_basmidb_exp">mycat_bms8066_basmidb_exp</option>
            <option value="mycat_bms8066_bizdb_exp">mycat_bms8066_bizdb_exp</option>
            <option value="mycat_bms8066_foudb_exp">mycat_bms8066_foudb_exp</option>
            <option value="mycat_bms8066_ldgdb_exp">mycat_bms8066_ldgdb_exp</option>
            <option value="mycat_bms8066_stmdb_exp">mycat_bms8066_stmdb_exp</option>
            <option value="mycat_bms8066_sysdb_exp">mycat_bms8066_sysdb_exp</option>
            <option value="mycat_htms_exp">mycat_htms_exp</option>
            <option value="mysql_ams_exp">mysql_ams_exp</option>
            <option value="mysql_xiaohao_exp">mysql_xiaohao_exp</option>
            <option value="mysql_lejia_read_exp">mysql_lejia_read_exp</option>
            <option value="mysql_kx_driver_exp">mysql_kx_driver_exp</option>
            <option value="mysql_kx_sc_exp">mysql_kx_sc_exp</option>
            <option value="mysql_kx_driver_wide_tab_exp">mysql_kx_driver_wide_tab_exp</option>
            <option value="rrsmdm_exp">rrsmdm_exp</option>
            <option value="mysql_kx_caiwu_exp">mysql_kx_caiwu_exp</option>
            <option value="mysql_kx_az_exp">mysql_kx_az_exp</option>
            <option value="mysql_erp_exp">mysql_erp_exp</option>
            <option value="mysql_yunshun_exp">mysql_yunshun_exp</option>
            <option value="mysql_kx_zangu_exp">mysql_kx_zangu_exp</option>
            <option value="mysql_kxpt_exp">mysql_kxpt_exp</option>
            <option value="srm_exp">srm_exp</option>
            <option value="iwms_sysdb_exp">iwms_sysdb_exp</option>
            <option value="iwmsdb_exp">iwmsdb_exp</option>
            <option value="gxtms_exp">gxtms_exp</option>
            <option value="daojia_exp">daojia_exp</option>
            <option value="xyc_mycat95_exp">xyc_mycat95_exp</option>
            <option value="xyc_mycat95_order_exp">xyc_mycat95_order_exp</option>
            <option value="crm_mdm_exp">crm_mdm_exp</option>
            <option value="crm_exp">crm_exp</option>
            <option value="bmg_gis_exp">bmg_gis_exp</option>
            <option value="i56_admin_exp">i56_admin_exp</option>
        </select>
        <br/>
        <h4 style="font-family:inline-block;font-weight: 700" >请输入导数SQL</h4>
        <textarea name="expdata_sql" class="form-control" cols="100" rows="10"></textarea>
        <button type="submit" class="btn btn-primary">确 认</button>
    </form>
    {{ exp_message }}
</div>

{% endblock %}