{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        <h4 style="font-family:inline-block;font-weight: 700" >申请过数据变更，但是未成功的，可以在这里输入FLWID重新执行1-2次试试，不行再联系高帅 01454221
            <br>如果SQL写的没问题执行失败的原因基本上就是当时有锁了
            <br>数据归档类的操作，可以等1-2小时再考虑重新执行，有时候拉归档语句执行的特别慢
            <br>请输入FLWID
        </h4>
        <input name="FLWID" class="form-control" cols="30" rows="10"></input>
        <br/>
        <button type="submit" class="btn btn-primary">重新执行</button>
    </form>
    {{ exp_message }}
</div>

{% endblock %}